/**
  * tab.css
  *
  * changelog
  * 2013-11-18[21:09:34]:created
  *
  * @info yinyong,osx-x64,Undefined,10.129.173.11,css,/Users/yinyong/work/node-ursa/test/fde/static/css/module
  * @author yanni4night@gmail.com
  * @version 0.0.1
  * @since 0.0.1
  */
.tab{width: 100%;}
.tab .caption{width: 100%;height: 30px;line-height: 30px;}
.tab .caption .item{padding: 0 10px;float: left;}
.tab .caption .item.on{background: rgba(1,1,1,0.5);}
.tab .content{width: 100%;height: 300px;}
.tab .content .item{width: 100%;height: 100%;}