/**
  * menu.css
  *
  * changelog
  * 2013-11-18[21:05:53]:created
  *
  * @info yinyong,osx-x64,Undefined,10.129.173.11,css,/Users/yinyong/work/node-ursa/test/fde/static/css/module
  * @author yanni4night@gmail.com
  * @version 0.0.1
  * @since 0.0.1
  */
nav.menu{width: 100%;height: 25px;font-size: 20px;line-height: 20px;}
nav.menu ul{list-style: none;width: 100%;display: block;height: 100%;width: 100%;}
nav.menu ul li{float: left;height: 100%;padding: 0 10px;}
nav.menu ul li a{color: #28b;}
nav.menu ul li:hover{background: #eee}