/**
  * gallery.css
  *
  * changelog
  * 2013-11-18[19:15:57]:created
  *
  * @info yinyong,osx-x64,Undefined,10.129.173.11,css,/Users/yinyong/work/node-ursa/test/fde/static/css/module/index
  * @author yanni4night@gmail.com
  * @version 0.0.1
  * @since 0.0.1
  */
.gallery-wrapper{height: 320px;border:1px solid #28b;overflow: hidden;}
.gallery-wrapper .gallery-slider{width: 1000%;height: 320px;}
.gallery-wrapper .gallery-slider img {float: left;height: 320px;width: 800px;}
.gallery-wrapper .direc{width: 50px;text-align: center;line-height: 320px;top: 0;z-index: 1000;}
.gallery-wrapper .direc:hover{background: rgba(0,0,0,0.5);}
.gallery-wrapper .left{left: 0;}
.gallery-wrapper .right{right: 0;}