.f-f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: flex;
}
.f-vc {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  box-align: center;
  align-items: center;
}
.f-hc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  box-pack: center;
  justify-content: center;
}
.f-hr {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -moz-justify-content: flex-end;
  box-pack: end;
  justify-content: flex-end;
}
.f-hl {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -moz-justify-content: flex-start;
  box-pack: start;
  justify-content: flex-start;
}
.test-f {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  flex: 2;
}
.common {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  flex: 2;
}
.less {
  color: #786309;
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  font-style: oblique;
  font-family: "microsoft yahei", arial, sans-serif;
  border: 1px dashed green;
  background: url('@img_prefix@/static/img/p.gif') repeat;
}
ul {
  list-style: none;
}
