body{
	font: 14px/1.623 "Microsoft YAHEI","Sisum",arial,sans-serif;
	font-weight: bold;
	padding: 0;
	margin: 0;
	background: url(@img_prefix@/static/img/p.gif) repeat;
	color:green;
} 

.test{
	width: 100px;
	height: 100px;
	position: absolute;left: 100px;
	top:100px;
	background: blue url(about:blank);
}